{
  "kind": "{{KIND}}",
  "collectionName": "{{COLLECTION_NAME}}",
  "info": {
    "singularName": "{{SINGULAR}}",
    "pluralName": "{{PLURAL}}",
    "displayName": "{{DISPLAY_NAME}}"
  },
  "options": {
    "draftAndPublish": {{DRAFT_AND_PUBLISH}}
  },
  "pluginOptions": {},
  "attributes": {{ATTRIBUTES_JSON}}
}
